<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MPG: T3</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/layout.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/game.css">
    <script src="scripts/underscore.js"></script>
  </head>

  <body>
    <canvas id="game-layer" width="100%" height="100%"></canvas>
    <canvas id="ui-layer" class="hidden" width="100%" height="100%"></canvas>

    <div class="dialog container" id="dialog">
      <div class="scrim"></div>
      <div class="content" id="content"></div>
    </div>

    <script id="template-connecting" type="text/html">
      <h3>{MPG}</h3><h2>Tic-Tac-Toh</h2>
      <h3>Connecting to network...</h3>
    </script>

    <script id="template-join-game" type="text/html">
      <h3>{MPG}</h3><h2>Tic-Tac-Toh</h2>
      <br/>
      <div class="row">
        <div class="three columns">
          <div class="text-left">
            <a href="#" class="button" id="new-game">Start New Game</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <div class="text-left">
            <a href="#" class="button" id="join-game">Join A Game</a>
          </div>
        </div>
        <div class="columns two">
          <div class="text-left">
            <input type="text" id="game-id" />
          </div>
        </div>
      </div>
    </script>

    <script id="template-waiting" type="text/html">
      <h3>{MPG}</h3><h2>Tic-Tac-Toh</h2>
      <br/>
      <h4>Waiting for players...</h4>
      <h4>Game ID: <%= data.name %></h4>
    </script>

    <script id="template-results" type="text/html">
      <h3>{MPG}</h3><h2>Tic-Tac-Toh</h2>
      <br/>
      <h4><%= data.winner %></h4>
      <br/>
      <div class="text-center">
        <a href="#" class="button" id="another-game">Play Again?</a>
      </div>
    </script>

    <script src="scripts/sockjs.js"></script>
    <script src="scripts/masamune.js"></script>
    <script src="scripts/utilities.js"></script>
    <script src="scripts/rendering.js"></script>
    <script src="scripts/dialogs.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
